:root {
  --bg-color: hsl(0, 0%, 85%);
  --primary-color: hsl(240, 100%, 25%);
}

body {
  font-family: system-ui;
  background-color: var(--bg-color);
}

main {
  width: 95%;
  max-width: 1024px;
  margin-block: 3rem;
  margin-inline: auto;
}

header {
  margin-bottom: 2rem;
}

h1 {
  padding-block: 1rem;
  color: var(--primary-color);
  border-top: 3px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  border-radius: 0.5rem;
  text-align: center;
}

section:not(:last-child) {
  margin-bottom: 2rem;
}

dt {
  font-weight: bold;
}
